div#JumpToTop {
position: fixed;
bottom: 0px;
right: 0;
width: 75px;
float: right;
height: 75px;
background-image: url("back-up1.png");
background-repeat: no-repeat;
z-index: 9999;
}

div#JumpToBottom {
position: absolute;
z-index: 9999;
top: 0px;
right: 0;
width: 75px;
height: 75px;
background-size: 50px auto;
background-image: url("down.png");
background-repeat: no-repeat;
}
